.locale {
  overflow: auto;
}

.container {
  padding-top: 30px;
}

.memo {
  font-size: 20px;
  padding: 10px 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.memo p {
  margin: 0;
}

.memo:hover {
  background-color: rgba(250, 252, 220, 0.921);
  cursor: pointer;
}

.post_date,
.update_date {
  color: #6D6D6D;
  font-size: 14px;
}

a.post_date {
  margin-right: 10px;
}

a.tech_category {
  background-color: #FFAE00;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-radius: 30px;
  font-weight: bold;
  margin-left: 5px;
}

.date_container a.tech_category {
  font-size: 11px;
  margin-left: 10px;
  height: 10px;
  line-height: 10px;
  align-items: center;
}